name: Publish to AUR

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: 'Repository Tag (without v, e.g. 1.6)'     
        required: true
  

jobs:
  aur-publish:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Replace VERSION_STRING in PKGBUILD file with parameter
        if: ${{ github.event_name == 'release' }}
        run: sed -i 's/VERSION_STRING/${GITHUB_REF:11}/g' PKGBUILD
        
      - name: Replace VERSION_STRING in PKGBUILD file with parameter
        if: ${{ github.event_name == 'workflow_dispath' }}
        run: sed -i 's/VERSION_STRING/${{ github.event.inputs.version }}/g' PKGBUILD
        
      - name: Replace PKGREL in PKGBUILD file with parameter
        run: sed -i 's/PKGREL/1/g' PKGBUILD  
        
      - name: Replace 256SUM in PKGBUILD file with parameter
        if: ${{ github.event_name == 'release' }}
        run: |
          wget https://github.com/${{ github.repository }}/archive/$GITHUB_REF.tar.gz
          sed -i 's/256SUM/$(sha256sum $GITHUB_REF.tar.gz | cut -d " " -f 1)/g' PKGBUILD  
          
      - name: Replace 256SUM in PKGBUILD file with parameter
        if: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          wget https://github.com/${{ github.repository }}/archive/refs/tags/v${{ github.event.inputs.version }}.tar.gz
          sed -i 's/256SUM/$(sha256sum v${{ github.event.inputs.version }}.tar.gz | cut -d " " -f 1)/g' PKGBUILD  

      - name: Output PKGBUILD for debugging purposes
        run: cat PKGBUILD

      - name: Publish AUR package with modified PKGBUILD
        uses: KSXGitHub/github-actions-deploy-aur@v2.7.0
        with:
          pkgname: memeassembly
          pkgbuild: ./PKGBUILD
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
          commit_message: Update AUR package
          ssh_keyscan_types: rsa,dsa,ecdsa,ed25519
